body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    word-wrap: break-word;
    color: #222;
    background-color: #fff;
}
.zu-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 45px;
    background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.zu-top-nav {
    float: left;
    position: relative;
}
.zu-top-nav-ul {
    padding: 0;
    margin: 0 0 0 18px;
}
.zg-clear {
    height: 1%;
}

.zu-top-nav-li.current {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}

.zu-top-nav-li {
    position: relative;
    float: left;
    margin: 0;
    list-style: none;
}
.top-nav-topic-selector {
    position: relative;
    z-index: 10;
}
.zu-top-nav-link, .zu-top-nav-link:visited, .zu-top-nav-link:active {
    color: #eee;
}
div[contentEditable], input, textarea, button, a:link {
    -webkit-tap-highlight-color: rgba(225,225,225,.5);
}
.zu-top-nav-link {
    width: 54px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: #f2f4f5;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    font-size: 14px;
}
.zu-top-add-question {
    float: left;
    width: 120px;
    height: 32px;
    top: -13px;
    line-height: 30px;
    margin-top: 7px;
    border: 1px solid #045bb2;
    border-radius: 4px;
    background: #0e78e7;
    background: -webkit-linear-gradient(top,#0e7bef,#0d73da);
    background: linear-gradient(to bottom,#0e7bef,#0d73da);
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
    color: #fff;
    font-size: 14px;
    margin-left: 90px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    outline: 0;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a {
    color: #259;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.info{
    padding: 0 4px;
    color: white;
    position: relative;

}
.info-li{
    display: inline-block;
    padding: 0 20px;
    position: relative;

}
.info-main{
    position: relative;
}
.mainframe{
    position: relative;
    left: 26%;
    width: 100%;
    height: 100%;
    top: 90px;
}
.mapcontain{
    width: 68%;
    left: -11%;
    position: relative;
}
.nongju{
    position: relative;
    top: -200px;
    left: -647px;
    text-align: center;
}
a{
    text-decoration: none;
}
.icontext{
    position: relative;
    left: -58px;
    top: -28px;
    background:url(../img/u4.png) top center no-repeat;
    text-decoration: none;
    cursor: pointer;
    width:100px;
    height:100px;
    text-align:center;
}
.daoju{
    position: relative;
    top: -332px;
    left: -329px;
    text-align: center;
}
.caidi{
    position: relative;
    top: -144px;
    left: -14px;
    text-align: center;
}
.exchange{
    position: relative;
    top: -109px;
    left: -110px;
    text-align: center;
}
.drugstore{
    position: relative;
    top: -264px;
    left: -331px;
    text-align: center;
}
.farmhome{
    position: relative;
    top: -264px;
    left: -220px;
    text-align: center;
}
.restaurant{
    position: relative;
    top: -348px;
    left: -136px;
    text-align: center;
}
.footer{
    border: solid 3px #ddd;
    position: relative;
    top: -295px;
    left: 395px;
    width: 38%;
}
.j-button{
    text-decoration: none;
    color: #3b8cff;
    border: 1px solid #c0d9fe;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.rightclean{
    border: solid 3px #ddd;
    position: relative;
    top: -431px;
    left: 1150px;
    width: 7%;
}
.r-button{
    text-decoration: none;
    color: #3b8cff;
    border: 1px solid #c0d9fe;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.info-rli{
    display: block;
    margin-top: 23px;
    padding: 0 20px;
    position: relative;
}
.info-r{
    padding: 0 4px;
    color: white;
    position: relative;

}